<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-tittle">Barra de Progreso</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
               [attr.aria-valuenow]="progress1"
               aria-valuenow="50"
               aria-valuemin="0"
               aria-valuemax="100"
               [style.width]="progress1 + '%'"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
               [attr.aria-valuenow]="progress2"
               aria-valuenow="50"
               aria-valuemin="0"
               aria-valuemax="100"
               [style.width]="progress2  + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (cambioValor)="progress1 = $event" leyenda="Progress Azul"
                           [progress]="progress1"></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (cambioValor)="progress2 = $event" leyenda="Progress Verde"
                           [progress]="progress2"></app-incrementador>
      </div>
    </div>
  </div>
</div>
