<h3>{{leyenda}}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="changeValue(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
  <input #txtprogress type="number" class="form-control" name="progress" [(ngModel)]="progress" (ngModelChange)="onCHanges($event)"
         min="1" max="100">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="changeValue(+5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </span>
</div>
