<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <div style="display: block">
              <!--              <canvas baseChart-->
              <!--                      [data]="doughnutChartData"-->
              <!--                      [labels]="doughnutChartLabels"-->
              <!--                      [chartType]="doughnutChartType">-->
              <!--              </canvas>-->
              <h4 class="card-title">{{graficos.grafico1.leyenda}}</h4>
              <app-grafica-dona [doughnutChartLabels]="graficos.grafico1.labels"
                                [doughnutChartData]="graficos.grafico1.data"></app-grafica-dona>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <div style="display: block">
              <h4 class="card-title">{{graficos.grafico2.leyenda}}</h4>
              <app-grafica-dona [doughnutChartLabels]="graficos.grafico2.labels"
                                [doughnutChartData]="graficos.grafico2.data"></app-grafica-dona>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <div style="display: block">
              <h4 class="card-title">{{graficos.grafico3.leyenda}}</h4>
              <app-grafica-dona [doughnutChartLabels]="graficos.grafico3.labels"
                                [doughnutChartData]="graficos.grafico3.data"></app-grafica-dona>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <div style="display: block">
              <h4 class="card-title">{{graficos.grafico4.leyenda}}</h4>
              <app-grafica-dona [doughnutChartLabels]="graficos.grafico4.labels"
                                [doughnutChartData]="graficos.grafico4.data"></app-grafica-dona>
              <!--                                [doughnutChartType]="graficos.grafico1.type"-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
